<div class="header">
  <span class="text-muted">Welcome in money back App</span>
</div>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li><a *ngIf="this.sessionStorageItem()" (click)="executeListwithoutusername()" class="nav-link">Loans</a></li>
    </ul>
  </nav>
  <div class="text-center border">
  <input *ngIf="this.sessionStorageItem()==false" type="text" name="username"  [(ngModel)]="username" > 
  <button *ngIf="this.sessionStorageItem()==false" (click)="executeList()" class="btn btn-default">Submit name</button>
  </div>
</header>


