.header{
    bottom:100;
    width:100%;
    padding: 14px;
    font-weight: bold;
    text-align: center;
    background: #7bbdca;
    color:white;
    font-size: 20px;
}

.border{
    margin-top: 10px;
}
