<nav *ngIf="this.sessionStorageItem()" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-item-dropdown" >
      <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" (click)="getUsers()">Change User</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li  *ngFor="let user of users" >
          <a class ="dropdown-item" href="#">{{user.name}}</a> 
        </li>
      </div>
    </li>
    <li class="nav-item">
      <a class="navbar-toggler pointer " style="cursor: pointer;" *ngIf="this.sessionStorageItem()" (click)="executeSummary()" class="nav-link"  role="button">Your money summary </a>
    </li>
    <li class="nav-item">
      <a class="navbar-toggler pointer " style="cursor: pointer;" *ngIf="this.sessionStorageItem()" (click)="onSelect('events')" class="nav-link"  role="button">Your upcoming events</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
    <li class="nav-item">
      <a class="navbar-toggler " *ngIf="this.sessionStorageItem()" (click)="executeListwithoutusername()" class="nav-link"  role="button">Loans</a>
    </li>
  </ul>
  
  </div>
</nav>

<div *ngIf="this.sessionStorageItem()==false" class="container top-buffer">
  <h6 class="text-center">Please select the name to run this application </h6>
  <div  class="text-center" class="form-group">
    <select  class="form-control" [(ngModel)]="username" name="username"> 
      <option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</option>
    </select>
      <div class="button-buffer text-center">
        <button  class="btn btn-info" (click)="executeList()" class="btn btn-default">Submit name</button>
      </div>
  </div>
</div>

<<!--h6 class="text-center" *ngIf="this.sessionStorageItem()==false && this.session2()==true"><em>If your name is not here and you want to be in please click this button </em> <button class="btn btn-default" (click)="addUser()" >Add</button> </h6> -->
<div *ngIf = "this.sessionStorageItem()==false && this.session2() === true" >
  <h6 class="text-center"><em>If your name is not here and you want to be in please click this button </em> <button class="btn btn-default" (click)="addUser()" >Add</button> </h6>
</div>
<app-user *ngIf = "tmp"></app-user>


