
<div class="container">
<div class="row justify-content-between">
  <div class="col-ms">
    <h3>Table for all loans with you</h3>
 <table class="table table-hover table-responsive-md btn-table  ">
 <thead class="thead-dark">
   <tr>
     <th>From who</th>
     <th>For who</th>
     <th>Amount</th>
     <th>Date</th>
     <th>Update</th>
     <th>Delete</th>
   </tr>
 </thead>
 <tbody>
   <tr *ngFor="let loan of loans ">
     <td>{{loan?.fromwho}}</td>
     <td>{{loan?.forwho}}</td>
     <td [ngClass]="{older: amountValidation(loan?.amount)} " >
       {{loan?.amount}}</td>
     <td> {{loan.targetDate | date }}</td>
     <td><button (click)="updateLoan(loan.id)" class="btn btn-succes">Update</button></td>
     <td><button (click)="deleteLoan(loan.id)" class="btn btn-succes">Delete</button></td>
   </tr>
 </tbody>
</table>
</div>
  <div class="col-ms"> 
    <h3>How much you owe</h3>
 <table class="table table-striped table-responsive-md btn-table">
  <thead class="thead-dark">
    <tr>
      <th>People you owe</th>
      <th>How much</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of friends ">
        <td>{{loan[1]}}</td>
        <td>{{loan[0]}}</td>
    </tr>
    
  </tbody>
 </table>
</div>
</div>
