div{
    background-color: rgb(215, 236, 138);
}
html {
    position: relative;
    min-height: 100%;
}

body {
  padding-bottom: 40px;
}

.main-container{
 min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 60px; 
 background-color: cornsilk;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
 
}