html {
    position: relative;
    /*min-height: 100%;*/
}

body {
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
 
}

.button-buffer{
  margin-top:10px; 
}

.margin-top{
  margin-top:30px
}

.ng-invalid:not(form){
  border-left: 5px solid #ff0000;
}