<div class="header">
  <span class="text-strong">Welcome in money back App</span>
</div>
<div class="container top-buffer">
  <h6 class="text-center">Please select the name to run this application </h6>
  <div  class="text-center" class="form-group">
    <select  class="form-control" [(ngModel)]="username" name="username"> 
      <option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</option>
    </select>
      <div class="button-buffer text-center">
        <button  class="btn btn-info" (click)="executeList()" class="btn btn-default">Submit name</button>
      </div>
  </div>
</div>

<div class="container">
  <h6 class="text-center"><em>If your name is not here and you want to be in please click this button </em> <button class="btn btn-default" (click)="addUser()" >Add</button> </h6>
</div>
<app-user *ngIf = "tmp"></app-user>